.slds-modal__container {
    margin: 0 auto;
    width: 100% !important;
    max-width: 100% !important
}
.fullpopup{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.footerpopup{
    height: 12%;
    width: 60%;
    background: lightgray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.headerpopup{
	height: 12%;
    width: 60%;
    background: lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}
.bodypopup{
    height: 60%;
    width: 60%;
    display: flex;
    background: white;
    flex-direction: row;
    overflow-y:scroll;
}
.bodypopup::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

 /* createbutton css */

.createbutton {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    color: #fff;
    box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 1);
}
    
.createbutton:active {
    cursor: progress;
    box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}
/* createbutton css end */
.popupbutton{
    width: 25%;
    height: 55%;
}

.ticket-details{
    height: fit-content;
    width: 70%;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
}
.ticket-number-priority{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}
.ticket-number{
    width: 50%;
    margin-left: 5%;
    font-size: 22px;
    color: gray;
    cursor: pointer;
}
.ticket-priority{
    width: 50%;
    font-size: 23px;
    margin-right: 2%;
    color: gray;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
}
.ticket-name{
    margin-left: 4%;
    margin-top: 1%;
    font-size: 40px;
    display: flex;
    cursor: pointer;
}
.ticket-description-attachment{
    width: 100%;
    font-size: 20px;
    padding: 1% 3%;
}
.ticket-comments{
    width: 100%;
    font-size: 20px;
    padding: 1% 3%;
}
.ticket-description{
    width: 100%;
    height: 230px;
    padding: 0% 2% 0% 2%;
    border: 1px dashed;
    text-align: justify;
}
.ticket-attachment{
    width: 100%;
    height: 230px;
    padding: 0% 3%;
    border: 1px dashed;
}
.ticket-description-scroll{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.ticket-description-scroll::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.ticket-settings{
    height: 100%;
    width: 30%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 7%;
}
.ticket-setting{
    font-size: 17px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.key{
    font-size: 23px;
    font-weight: 600;
}
.value{
    width: 100%;
    cursor: pointer;
}
.priority-value{
    cursor: pointer;
}

.ticket-number-input lightning-input {
    --lwc-colorBorderInput: rgb(0, 0, 0);
    --slds-c-input-radius-border: 10px;
    /* --lwc-heightInput: 45px; */
    font-size: 16px;
    width: 80% !important;
    --sds-c-input-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    --lwc-squareIconMediumContentAlt:16px;
}
.ticket-number-input{
    margin-top: -2%;
}

.ticket-name lightning-input {
    --lwc-colorBorderInput: rgb(0, 0, 0);
    --slds-c-input-radius-border: 10px;
    --lwc-heightInput: 34px;
    font-size: 16px;
    width: 80% !important;
    --sds-c-input-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    --lwc-squareIconMediumContentAlt:16px;
}

.ticket-setting lightning-input {
    --lwc-colorBorderInput:  rgb(0, 0, 0);
    --slds-c-input-radius-border: 10px;
    /* --lwc-heightInput: 34px; */
    font-size: 16px;
    width: 80% !important;
    --sds-c-input-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    --lwc-squareIconMediumContentAlt:16px;
    margin-top: -7%;
}
.slds-input-has-icon .slds-input__icon{
    position: absolute !important;
    top: 35% !important;
}
lightning-textarea{
    --sds-c-textarea-sizing-min-height: 230px;
    margin-top: -5%;
}