.slds-modal__container {
    margin: 0 auto;
    width: 100% !important;
    max-width: 100% !important;
}

.fullpopup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footerpopup {
    height: 12%;
    width: 60%;
    background: lightgray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.headerpopup {
    height: 12%;
    width: 60%;
    background: lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.bodypopup {
    height: 60%;
    width: 60%;
    display: flex;
    background: white;
    flex-direction: row;
    overflow-y: scroll;
}

.bodypopup::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* createbutton css */

.createbutton {
    background-color: #00203FFF;
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    color: #ADEFD1FF;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
}

.createbutton:active {
    cursor: progress;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

/* createbutton css end */
.popupbutton {
    width: 15%;
    height: 55%;
}

.ticket-details {
    height: fit-content;
    width: 70%;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
}

.ticket-number-priority {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.ticket-number {
    width: 50%;
    margin-left: 5%;
    font-size: 22px;
    color: gray;
}

.ticket-priority {
    width: 50%;
    font-size: 23px;
    margin-right: 2%;
    color: gray;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
}

.ticket-name {
    margin-left: 4%;
    margin-top: 1%;
    font-size: 40px;
    display: flex;
}

.ticket-description-attachment {
    width: 100%;
    font-size: 20px;
    padding: 1% 3%;
}

.ticket-comments {
    width: 100%;
    font-size: 20px;
    padding: 1% 3%;
}

.ticket-description {
    width: 100%;
    height: 230px;
    padding: 0% 2% 0% 2%;
    border: 1px dashed;
    text-align: justify;
}

.ticket-attachment {
    width: 100%;
    height: 230px;
    padding: 0% 3%;
    border: 1px dashed;
    display: flex;
    align-items: center;
    gap: 2%;
    overflow: scroll;
}

.ticket-description-scroll {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.ticket-description-scroll::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.ticket-settings {
    height: 100%;
    width: 30%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 7%;
}

.ticket-setting {
    font-size: 17px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.key {
    font-size: 23px;
    font-weight: 600;
}

.value {
    width: 100%;
}

.slds-input-has-icon .slds-input__icon {
    position: absolute !important;
    top: 35% !important;
}

lightning-textarea {
    --sds-c-textarea-sizing-min-height: 230px;
    margin-top: -5%;
}

.uploadbutton {
    display: flex;
    padding-top: 1%;
    justify-content: flex-end;
}

.image-box {
    height: 75%;
}

.figurecaption {
    border: 1px solid lightgrey;
    background: lightgrey;
}

.url-link {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ticket-attachment::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.url-bottom {
    display: flex;
    justify-content: space-between;
}

lightning-button-icon {
    --lwc-borderWidthThin: 0px;
}

.slds-file {
    height: 102px;
    width: 182px;
}

.tic-comments {
    /* border: 1px solid black;  */
    width: 100%;
    padding: 2%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.comment-head {
    display: flex;
}

.user-comment {
    width: 90%;
    display: flex;
    gap: 15px;
}

.delete-comment {
    width: 5%;
}

.edit-comment {
    width: 5%;
}

.comment-body {
    width: 100%;
    height: fit-content;
}

.deletecomment {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.commentdeletebutton {
    display: flex;
    width: 44%;
    height: 50%;
    gap: 2%;
}


/* spinner */
.spinnerbody {
    position: fixed;
    z-index: 9001;
    height: 73%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
    opacity: 0.7;
    border-radius: 23px;
}
.box {
    z-index: 9001;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  color: #00136c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.box:first-child {
  background-color: gray;
  animation: loader 2s infinite;
}

.box:nth-child(2) {
  background-color: grey;
  animation: loader 3s infinite;
}

.box:nth-child(3) {
  background-color: gray;
  animation: loader 4s infinite;
}

.box:last-child {
  background-color: gray;
  animation: loader 5s infinite;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: y 90deg;
    scale: 0.5;
  }
  50% {
    rotate: 180deg;
  }
  75% {
    rotate: x 270deg;
    border-radius: 50%;
  }
  100% {
    rotate: 360deg;
  }
}

@supports not (rotate: 0deg) {
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: scale(0.5) rotateY(90deg);
    }
    50% {
      transfrom: rotate(180deg);
    }
    75% {
      transform: rotateX(270deg);
      border-radius: 50%;
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
/* spiner ends */