.workboardmanual {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1%;
    height: 100%;
    width: 99%;
}

.mainheader {
    display: flex;
    height: 15%;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 95%;
}

.body {
    height: 72vh;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.welcomeheader {
    font-size: xxx-large;
    font-weight: 700;
    margin-left: 25px;
}

.welcomenote {
    font-size: large;
    margin-left: 25px;
}

.darkblue {
    color: #00203FFF;
}

.lightblue {
    color: #ADEFD1FF;
}

.arrow {
    font-size: 100px;
    width: 2%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
}

.boxes {
    height: 100%;
    width: 48%;
    margin-bottom: 4%;
    display: flex;
    overflow: scroll;
}

.leftbox {
    padding: 2% 4%;
    text-align: justify;
    font-size: 30px;
}

.rightbox {
    padding: 3%;
    align-items: flex-start;
    justify-content: center;
}

.boxes::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.usericon {
    cursor: pointer;
    --sds-c-icon-color-background: transparent;
    background: #00203FFF;
    border-radius: 10px;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 1);
}

.usericon:active {
    cursor: progress;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

@media only screen and (max-width: 1700px) {
    .welcomeheader {
        font-size: 40px;
    }
}