.footerpopup {
    height: 12%;
    width: 100%;
    background: lightgray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.headerpopup {
    height: 12%;
    width: 100%;
    background: lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.bodypopup {
    height: 40%;
    width: 100%;
    gap: 6%;
    display: flex;
    background: white;
    flex-direction: column;
}

/* createbutton css */

.createbutton {
    background-color: #00203FFF;
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    color: #ADEFD1FF;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
}

.createbutton:active {
    cursor: progress;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

/* createbutton css end */
.popupbutton {
    width: 25%;
    height: 55%;
}

.recycleboardheader {
    border-radius: 0px;
    justify-content: center;
    height: 50px;
}

.deletedboards {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    row-gap: 10px;
    flex-direction: row;
    height: 25%;
}

.recycleboardname {
    font-size: 25px;
    width: 35%;
}

.deletedboards:nth-child(odd) {
    background: lightgray;
    color: black;
}

.tablebody:nth-child(odd) {
    background: lightgray;
    color: black;
}

.table {
    height: 100%;
    overflow-y: scroll;
}

.table::-webkit-scrollbar,
.desc::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.recycleboardheader {
    border-radius: 0px;
    justify-content: center;
    height: 50px;
}

.tableheader {
    width: 100%;
    height: 70px;
    font-size: 24px;
    display: flex;
    background-color: #00203FFF;
    color: #ADEFD1FF;
    text-align: center;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
}

.recyclebodypopup {
    gap: 0px;
}

.usericon {
    cursor: pointer;
    --sds-c-icon-color-background: transparent;
    background: #00203FFF;
    border-radius: 10px;
    box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 1);
}