.viewboard {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.header {
    height: 15%;
    width: 99%;
    border-radius: 10px;
    background-color: white;
    display: flex;
}

.headerinput {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerlogo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerbutton {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.input {
    width: 90%;
    height: 25%;
    border-radius: 10px;
    font-size: 23px;
    padding-left: 25px;
}

lightning-input {
    --lwc-colorBorderInput: rgb(0, 0, 0);
    --slds-c-input-radius-border: 10px;
    --lwc-heightInput: 45px;
    font-size: 16px;
    width: 80% !important;
    --sds-c-input-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    --lwc-squareIconMediumContentAlt: 16px;
}

/* createbutton css */

.createbutton {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    color: #fff;
    box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 1);
}

.createbutton:active {
    cursor: progress;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

/* createbutton css end */
.usericon {
    cursor: pointer;
    --sds-c-icon-color-background: transparent;
    background: black;
    border-radius: 10px;
    box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 1);
}

.usericon:active {
    cursor: progress;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

.body {
    height: 72.5%;
    width: 99%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden
}

.fields {
    height: 98%;
    border-radius: 10px;
    margin: 0% 0.5% 0% 0.5%;
    box-shadow: 1px 10px 14px 0px rgba(0, 0, 0, 1)
}

.scrollablesdiv {
    display: flex;
    align-items: center;
    height: 100%;
    overflow-x: scroll;
}

.scrollablesdiv::-webkit-scrollbar {
    display: none;
}

.fieldheader {
    height: 10%;
    width: 252px;
    border-bottom: 1px solid black
}

.fieldname {
    width: 100%;
    height: 100%;
    font-size: 17px;
    border-radius: 10px 10px 0px 0px;
    background-color: black;
    display: flex;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
}

.fieldbody {
    height: 63vh;
    width: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket {
    width: 94%;
    height: 25%;
    margin: 3% auto;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
    background-color: white;
    cursor: all-scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
}

.scrollableclass {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

.scrollableclass::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.norecordfound {
    margin: auto;
    margin-top: 5%;
}

.desertImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    font-size: 20px;
    font-weight: 700;
    width: 95vh;
}

.ticketheader {
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: 3%;
    gap: 5px;
    height: 50%;
}

.ticketnumber {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.ticketname {
    font-weight: bold;
    font-size: 16px;
}

.ticketfooter {
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 4%;
    margin-left: 0%;
}

.ticketpriority {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
}

.ticketstartdate {
    font-size: 15px;
}

.deleteview {
    width: 13%;
    height: 18%;
    padding: 1%;
    border-radius: 10px;
    left: 50%;
    top: 66%;
    border: dotted;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    background: lightgrey;
    border-color: red;
}

.deletetext {
    font-size: 20px;
    font-weight: 700;
}

.ctfooterpopup {
    height: 12%;
    width: 55%;
    background: lightgray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.ctheaderpopup {
    height: 12%;
    width: 55%;
    background: lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.ctbodypopup {
    height: 100%;
    width: 75%;
    gap: 10%;
    display: flex;
    background: white;
    flex-direction: column;
    padding: 2%;
}

.ctpopupbutton {
    width: 25%;
    height: 55%;
}

.ctfields {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

label {
    font-size: 20px;
    font-weight: 800;
}

.ctpopufields {
    width: 60%;
}

/* createbutton css */

.ctcreatebutton {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    color: #fff;
    box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 1);
}

.ctcreatebutton:active {
    cursor: progress;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

/* createbutton css end */
.ctpopupbutton {
    width: 15%;
    height: 50%;
}

lightning-input,
lightning-combobox {
    --lwc-colorBorderInput: rgb(0, 0, 0);
    --slds-c-input-radius-border: 10px;
    --lwc-heightInput: 45px;
    font-size: 16px;
    width: 80% !important;
    --sds-c-input-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    --lwc-squareIconMediumContentAlt: 16px;
}

lightning-textarea {
    --lwc-colorBorderInput: rgb(0, 0, 0);
    --slds-c-textarea-radius-border: 10px;
    --lwc-heightInput: 45px;
    font-size: 16px;
    width: 80% !important;
    --slds-c-textarea-sizing-min-height: 13 0px;
    --slds-c-textarea-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    --lwc-squareIconMediumContentAlt: 16px;
}

.ctfullpopup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ctbodypopups {
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 41%;
    background: white;
}

.slds-modal__container {
    margin: 0 auto;
    width: 100% !important;
    max-width: 100% !important
}

lightning-button-icon {
    --lwc-borderWidthThin: 0px;
}

.footerpopup {
    height: 12%;
    width: 100%;
    background: lightgray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.headerpopup {
    height: 12%;
    width: 100%;
    background: lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.bodypopup {
    height: 40%;
    width: 100%;
    gap: 6%;
    display: flex;
    background: white;
    flex-direction: column;
}

.deleteicon {
    width: 20%;
    height: 40%;
    margin: 3% 0% 0% 40%;
    background: black;
    padding-left: 5%;
    padding-top: 4%;
}

.slds-icon_small {
    --lwc-squareIconSmallBoundary: 70%;
}

.deletetext {
    margin: auto;
    margin-top: 5%;
    font-size: 21px;
    font-weight: 500;
}

.popupbutton {
    width: 25%;
    height: 55%;
}

.deleteboardname {
    font-weight: bold;
    font-style: italic;
}

.recycle {
    height: 35%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

lightning-button-menu {
    --lwc-colorTextIconDefault: white;
}
lightning-menu-item{
    --lwc-colorTextIconDefault: black;
}