.ctfullpopup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ctheader {
    height: 12%;
    width: 50%;
    background: lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.ctbody {
    height: 50%;
    width: 50%;
    padding: 1%;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 13px;
    overflow: hidden;
    overflow-y: scroll;
}

.ctbody::-webkit-scrollbar {
    display: none;
}

.ctupperfields {
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: 100%;
}

.ctleftfields {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ctfieldname {
    font-size: 18px;
    font-weight: 700;
}

lightning-input,
lightning-combobox {
    --lwc-colorBorderInput: rgb(0, 0, 0);
    --slds-c-input-radius-border: 10px;
    --lwc-heightInput: 45px;
    font-size: 16px;
    --sds-c-input-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    --lwc-squareIconMediumContentAlt: 16px;
}

.ctrightfields {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.ctfooter {
    height: 12%;
    width: 50%;
    background: lightgray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* createbutton css */

.ctcreatebutton {
    width: 15%;
    height: 50%;
    background-color: #00203FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #ADEFD1FF;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
}

.ctcreatebutton:active {
    cursor: progress;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

/* createbutton css end  */

.slds-modal__container {
    margin: 0 auto;
    width: 100% !important;
    max-width: 100% !important
}

.star{
    color: red;
}